In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "Resources/olympic_data.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head()

C:\Users\willt\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1,33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Count of Sex,Column Labels,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F Total,Grand Total
1,Row Labels,1900,1908.0,1912.0,1920.0,1924.0,1928.0,1932.0,1936.0,1948.0,...,2002.0,2004.0,2006.0,2008.0,2010.0,2012.0,2014.0,2016.0,NaN,NaN
2,Alpine Skiing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,93.0,...,248.0,NaN,267.0,NaN,304.0,NaN,303.0,NaN,3398,3398
3,Athletics,NaN,NaN,NaN,NaN,NaN,129.0,80.0,134.0,236.0,...,NaN,1001.0,NaN,1068.0,NaN,1097.0,NaN,1208.0,11666,11666
4,Cross Country Skiing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,354.0,NaN,366.0,NaN,351.0,NaN,348.0,NaN,3385,3385

In [3]:
df.columns

Index(['Count of Sex', 'Column Labels', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34'],
      dtype='object')

In [4]:
starter_olympics_df = df.loc[:, ['Name', 'Sex', 'Age', 'Team',
                                'Year', 'Sport', 'Event', 'Medal']]
starter_olympics_df.head()

KeyError: "None of [Index(['Name', 'Sex', 'Age', 'Team', 'Year', 'Sport', 'Event', 'Medal'], dtype='object')] are in the [columns]"