In [8]:
## Women sports topics (Most played sports, maybe add age??):
#Athletics, Gymnastics, Swimming


import pandas as pd

In [9]:
# The path to our CSV file
file = "Resources/olympic_data.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [10]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [11]:
starter_olympics_df = df.loc[:, ['Name', 'Sex', 'Age', 'Team',
                                'Year', 'Sport', 'Event', 'Medal', 'NOC']]
starter_olympics_df.head()

,Name,Sex,Age,Team,Year,Sport,Event,Medal,NOC
0,A Dijiang,M,24.0,China,1992,Basketball,Basketball Men's Basketball,NaN,CHN
1,A Lamusi,M,23.0,China,2012,Judo,Judo Men's Extra-Lightweight,NaN,CHN
2,Gunnar Nielsen Aaby,M,24.0,Denmark,1920,Football,Football Men's Football,NaN,DEN
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,1900,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DEN
4,Christine Jacoba Aaftink,F,21.0,Netherlands,1988,Speed Skating,Speed Skating Women's 500 metres,NaN,NED

In [30]:
noc_grp = starter_olympics_df.groupby(by='NOC').count()
nc_df = pd.DataFrame(noc_grp)
nc_df
#noc_gender = nc_df.loc[nc_df['Sex']=='F'].count()
#print(noc_gender)

     Name   Sex   Age  Team  Year  Sport  Event  Medal
NOC
AFG   126   126    78   126   126    126    126      2
AHO    79    79    78    79    79     79     79      1
ALB    70    70    70    70    70     70     70      0
ALG   551   551   545   551   551    551    551     17
AND   169   169   169   169   169    169    169      0
..    ...   ...   ...   ...   ...    ...    ...    ...
YEM    32    32    32    32    32     32     32      0
YMD     5     5     5     5     5      5      5      0
YUG  2583  2583  2454  2583  2583   2583   2583    390
ZAM   183   183   154   183   183    183    183      2
ZIM   311   311   309   311   311    311    311     22

[230 rows x 8 columns]