In [2]:
## Women sports topics (Most played sports, maybe add age??):
#Athletics, Gymnastics, Swimming


import pandas as pd

In [3]:
# The path to our CSV file
file = "Resources/original_olympic_data.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [10]:
##With this dataset you can see that there have only been 33,808 women who have participated in the Olympic Games

#Selecting the columns
starter_olympics_df = df.loc[:, ['Name', 'Sex', 'Age', 'Team', 'NOC',
                                'Year', 'Sport', 'Event', 'Medal']]
starter_olympics_df.head()

#Select only USA participants
usa_filter_f = starter_olympics_df[(starter_olympics_df["Sex"] == "F")]
usa_filter.head()

#drop duplicates based off of the name
usa_clean = usa_filter.drop_duplicates(subset=['Name']).count()
usa_clean.head()

#Checking for any Nan values on columns to be used
#usa_clean['NOC'].isnull().values.any()

Name    100979
Sex     100979
Age      94941
Team    100979
NOC     100979
dtype: int64

In [11]:

#Selecting the columns
starter_olympics_df = df.loc[:, ['Name', 'Sex', 'Age', 'Team', 'NOC',
                                'Year', 'Sport', 'Event', 'Medal']]
starter_olympics_df.head()

#Select only USA participants
usa_filter = starter_olympics_df[(starter_olympics_df["Sex"] == "M")]
usa_filter.head()

#drop duplicates based off of the name
usa_clean = usa_filter.drop_duplicates(subset=['Name']).count()
usa_clean.head()

#Checking for any Nan values on columns to be used
#usa_clean['NOC'].isnull().values.any()

Name    100979
Sex     100979
Age      94941
Team    100979
NOC     100979
dtype: int64

In [12]:
player_data = usa_filter_f[["Sex", "Age", "Sport"]]
player_data= player_data.drop_duplicates()
player_data

       Sex   Age              Sport
4        F  21.0      Speed Skating
6        F  25.0      Speed Skating
8        F  27.0      Speed Skating
26       F  18.0          Athletics
32       F  30.0            Sailing
...     ..   ...                ...
262863   F  58.0            Archery
263428   F  38.0           Handball
265698   F  18.0            Curling
266759   F  18.0  Modern Pentathlon
270972   F  47.0          Athletics

[1363 rows x 3 columns]