In [39]:
## Women sports topics (Most played sports, maybe add age??):
#Athletics, Gymnastics, Swimming

import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np 
import pandas as pd
pd.get_option("display.max_columns")

20

In [40]:
# The path to our CSV file
file = "Resources/original_olympic_data.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [41]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [58]:
##With this dataset you can see that there have only been 33,808 women who have participated in the Olympic Games

#Selecting the columns
starter_olympics_df = df.loc[:, ['Name', 'Sex', 'Age', 'Team', 'NOC',
                                'Year', 'Sport', 'Event', 'Medal', "ID"]]
starter_olympics_df.head()

#Select only USA participants
usa_filter_f = starter_olympics_df[(starter_olympics_df["Sex"] == "F")]
usa_filter_f.head()

#drop duplicates based off of the name
usa_clean = usa_filter_f.drop_duplicates(subset=['Name']).count()
usa_clean.head()

#Checking for any Nan values on columns to be used
#usa_clean['NOC'].isnull().values.any()

Name    33808
Sex     33808
Age     33525
Team    33808
NOC     33808
dtype: int64

In [59]:

#Selecting the columns
starter_olympics_df = df.loc[:, ['Name', 'Sex', 'Age', 'Team', 'NOC',
                                'Year', 'Sport', 'Event', 'Medal']]
starter_olympics_df.head()

#Select only USA participants
usa_filter = starter_olympics_df[(starter_olympics_df["Sex"] == "M")]
usa_filter.head()

#drop duplicates based off of the name
usa_clean = usa_filter.drop_duplicates(subset=['Name']).count()
usa_clean.head()

#Checking for any Nan values on columns to be used
#usa_clean['NOC'].isnull().values.any()

Name    100979
Sex     100979
Age      94941
Team    100979
NOC     100979
dtype: int64

In [91]:
player_data = usa_filter_f[["Sex", "Age", "Sport", "Year", "Name"]]
player_data= player_data.drop_duplicates()
player_data

       Sex   Age          Sport  Year                                 Name
4        F  21.0  Speed Skating  1988             Christine Jacoba Aaftink
6        F  25.0  Speed Skating  1992             Christine Jacoba Aaftink
8        F  27.0  Speed Skating  1994             Christine Jacoba Aaftink
26       F  18.0      Athletics  1932   Cornelia "Cor" Aalten (-Strannood)
32       F  30.0        Sailing  1996                   Minna Maarit Aalto
...     ..   ...            ...   ...                                  ...
271080   F  33.0      Athletics  1964  Galina Ivanovna Zybina (-Fyodorova)
271099   F  36.0      Wrestling  2004                    Stavroula Zygouri
271102   F  19.0      Athletics  2000            Olesya Nikolayevna Zykina
271103   F  23.0      Athletics  2004            Olesya Nikolayevna Zykina
271110   F  33.0     Basketball  2016               Olga Igorevna Zyuzkova

[48860 rows x 5 columns]

In [102]:
#Set theme
plt.style.use('seaborn')

#Select specific sports to look at trend
selected_sports = player_data.loc[(player_data['Sport'] == 'Athletics') |
                                  (player_data['Sport'] == 'Gymnastics') |
                                  (player_data['Sport'] == 'Swimming'), :]
sports = selected_sports.groupby(['Sport'])
sports['Name'].value_counts
sports