In [100]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [101]:
# The path to our CSV file
file = "Resources/original_olympic_data.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [102]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [103]:
starter_olympics_df = df.loc[:, ['ID','Name','Sex', 'Age', 'Height', 'Weight',
                                'Year', 'Sport', 'Event']]
starter_olympics_df.head()

,ID,Name,Sex,Age,Height,Weight,Year,Sport,Event
0,1,A Dijiang,M,24.0,180.0,80.0,1992,Basketball,Basketball Men's Basketball
1,2,A Lamusi,M,23.0,170.0,60.0,2012,Judo,Judo Men's Extra-Lightweight
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,1920,Football,Football Men's Football
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,1900,Tug-Of-War,Tug-Of-War Men's Tug-Of-War
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,1988,Speed Skating,Speed Skating Women's 500 metres

In [104]:
#Select only female participants
fem_filter = starter_olympics_df[(starter_olympics_df["Sex"] == "F")]
fem_clean= fem_filter.dropna(how='any')
fem_clean.head(10)

,ID,Name,Sex,Age,Height,Weight,Year,Sport,Event
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,1988,Speed Skating,Speed Skating Women's 500 metres
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,1988,Speed Skating,"Speed Skating Women's 1,000 metres"
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,1992,Speed Skating,Speed Skating Women's 500 metres
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,1992,Speed Skating,"Speed Skating Women's 1,000 metres"
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,1994,Speed Skating,Speed Skating Women's 500 metres
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,1994,Speed Skating,"Speed Skating Women's 1,000 metres"
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,1996,Sailing,Sailing Women's Windsurfer
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,2000,Sailing,Sailing Women's Windsurfer
34,14,Pirjo Hannele Aalto (Mattila-),F,32.0,171.0,65.0,1994,Biathlon,Biathlon Women's 7.5 kilometres Sprint
80,22,Andreea Aanei,F,22.0,170.0,125.0,2016,Weightlifting,Weightlifting Women's Super-Heavyweight

In [110]:
fem_clean.count()

ID            66711
Name          66711
Sex           66711
Age           66711
Height        66711
Weight        66711
Year          66711
Sport         66711
Event         66711
Female_Age    66711
dtype: int64

In [105]:
#Calculate Total Players
total_females = len(fem_clean["ID"].value_counts())

#Format into a DataFrame
female_athlete_count = pd.DataFrame({"Total Female Athletes":[total_females]})
female_athlete_count

   Total Female Athletes
0                  29809

In [107]:
fem_clean["Female_Age"] = fem_clean['ID'].map(str) + fem_clean['Age'].map(str)
fem_clean["Female_Age"].duplicated().sum()
fem_clean.duplicated(subset = ["Female_Age"]).sum()

C:\Users\willt\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

22555

In [108]:
clean_graph = fem_clean.drop_duplicates(subset = ["Female_Age"])
clean_graph  = clean_graph .set_index("Female_Age")
clean_graph

,ID,Name,Sex,Age,Height,Weight,Year,Sport,Event
Female_Age,,,,,,,,,
521.0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,1988,Speed Skating,Speed Skating Women's 500 metres
525.0,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,1992,Speed Skating,Speed Skating Women's 500 metres
527.0,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,1994,Speed Skating,Speed Skating Women's 500 metres
1330.0,13,Minna Maarit Aalto,F,30.0,159.0,55.5,1996,Sailing,Sailing Women's Windsurfer
1334.0,13,Minna Maarit Aalto,F,34.0,159.0,55.5,2000,Sailing,Sailing Women's Windsurfer
...,...,...,...,...,...,...,...,...,...
13555333.0,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,1964,Athletics,Athletics Women's Shot Put
13556036.0,135560,Stavroula Zygouri,F,36.0,171.0,63.0,2004,Wrestling,"Wrestling Women's Middleweight, Freestyle"
13556319.0,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,2000,Athletics,Athletics Women's 4 x 400 metres Relay
13556323.0,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,2004,Athletics,Athletics Women's 4 x 400 metres Relay
13556833.0,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,2016,Basketball,Basketball Women's Basketball

In [109]:
clean_graph.count()

ID        44156
Name      44156
Sex       44156
Age       44156
Height    44156
Weight    44156
Year      44156
Sport     44156
Event     44156
dtype: int64

In [114]:
#Create bins
age_bins = [0, 9.9, 13.9, 18.9, 23.9, 28.9, 33.9, 39.9, 1000]
age_groups = ["<10","10-14", "15-19","20-24",
            "25-29","30-34","35-39","40+"]

#Defining GroupBy
clean_graph["Age Groups"] = pd.cut(clean_graph["Age"], age_bins, labels=age_groups, include_lowest=True)
age_group_df = clean_graph.groupby("Age Groups")

#Calculations
total_count_age = age_group_df["ID"].nunique()
percentage_by_age = (total_count_age/total_females) * 100

#Formating into DataFrame
age_demographics = pd.DataFrame({"Total Count": total_count_age,
                                 "Percentage of Players": percentage_by_age
                                })

#Cleaning Header 
age_demographics.index.name = None

#Formatting for two decimal places
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})